{% extends 'base.html' %} 
{% load static %} 
{% block title %} About Us {%endblock title %} {% block body %}



<div class=" container">
<h1 class="text-center py-4">About Us</h1>
<h2><span class="text-info py-3 ">Human Health</span></h2>
  <p> Human health is one of the most important factors influencing  
    economic development in any economy. Most important and immediate 
    consequences of environmental degradation in the world take the form 
    of damage to human health. Economic analysis of health impacts assumes 
    importance in the context of market failures or distortions. This is mainly
     due to public good nature of the resources and the externalities associated
      with the resource. Environmental economics provides appropriate methods and 
      methodologies to overcome most of these issues. Health impacts due to 
      environmental changes are considered very important and have become integral 
      to the assessment of development projects. Economic analysis of environmental 
      health impacts has become critical for social cost–benefit analysis (CBA) as well. 
      Economic analysis of these impacts would provide avenues for investments for 
      mitigating the adverse impacts. CBA of projects that mitigate adverse impacts can
       be worked out for policy purposes. This article focuses mainly on the health
        impacts caused due to environmental changes or ecosystem impairment and economic
         assessment of these costs, focusing on India and China.</p>
<img src="">


<h2><span class="text-danger py-3 ">What ia the Physical Activity</span></h2>
<p>Key facts
Physical activity has significant health benefits for hearts, bodies and minds
Physical activity contributes to preventing and managing noncommunicable diseases
 such as cardiovascular diseases, cancer and diabetes
Physical activity reduces symptoms of depression and anxiety
Physical activity enhances thinking, learning, and judgment skills
Physical activity ensures healthy growth and development in young people
Physical activity improves overall well-being
Globally, 1 in 4 adults do not meet the global recommended levels of physical activity
People who are insufficiently active have a 20% to 30% increased risk of death compared 
to people who are sufficiently active
More than 80% of the world's adolescent population is insufficiently physically active
What is physical activity?
WHO defines physical activity as any bodily movement produced by skeletal muscles that
 requires energy expenditure. Physical activity refers to all movement including during 
 leisure time, for transport to get to and from places, or as part of a person’s work.
  Both moderate- and vigorous-intensity physical activity improve health.

Popular ways to be active include walking, cycling, wheeling, sports, active recreation and play, and can be done at any level of skill and for enjoyment by everybody. 

Regular physical activity is proven to help prevent and manage noncommunicable diseases such as heart disease, stroke, diabetes and several cancers. It also helps prevent hypertension, maintain healthy body weight and can improve mental health, quality of life and well-being. </p>
</div>

{% endblock body %}




