{% extends 'base.html' %}
{% load static %}

{% block title  %}Blog{% endblock title  %}



{% block body %}
<div class="text-center py-2">
<h1 class="text-primary"><b> This is the  </b><strong class="text-danger"> Blog Page</strong></h1>
<img src="https://media.istockphoto.com/id/626669886/photo/blogging-blog-word-coder-coding-using-laptop.jpg?b=1&s=170667a&w=0&k=20&c=aVf9UGgpwixzwM27bU_aF2v2veTNxBWJCdAUxfiYMkM=" width="1500px" height="650px" >
</div>
<div class=" py-3">
   <h2 class="text-success"><b>Latest Mental Health Content</b><h2>
    <p>Mental health includes our emotional, psychological, and social well-being. It affects how we think, feel, and act. It also helps determine how we handle stress, relate to others, and make choices. Mental health is important at every stage of life, from childhood and adolescence through adulthood.

Over the course of your life, if you experience mental health problems, your thinking, mood, and behavior could be affected. Many factors contribute to mental health problems, including:

Biological factors, such as genes or brain chemistry
Life experiences, such as trauma or abuse
Family history of mental health problems
Mental health problems are common but help is available. People with mental health problems can get better and many recover completely.<p>
<div>   
<hr>


<section id="about">
  <div class="container mt-5">

    <div class="row">
      <div class="col-sm-6">
        <div class="">
          <h1 class="section-main-title text-danger">
           Cognitive Behavioural Therapist-CBT
          </h1>
        </div>

         <div class="about-item">
          <p><h5>
            You may have been referred by a friend, counsellor,  
            psychiatrist or even a physician to visit a Cognitive
            Behavioural Therapist – CBT and may be wondering what to expect. 
            A Cognitive Behaviour Therapist – CBT is a mental health expert
            who practises Cognitive Behaviour Therapy. CBT is a relatively
            newer age therapy that is backed up with tons of evidence and 
            it has shown to be efficient in working on a variety of mental health and 
            wellbeing/ self improvement concerns as well. </h5>
          </p>
        </div>
      </div>

       <div class="col-sm-4 sm-2">
        <div class="about-box">
          <img src="https://images.unsplash.com/photo-1534367507873-d2d7e24c797f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHRoZXJlcHklMjBpbiUyMCUyMGJvZHl8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" width="600px" />
        </div>
      </div>
    </div>

    
    <div class="row mt-5">
      <div class="col-sm-4">
        <div class="about-boxx">
          <img src="https://media.istockphoto.com/id/1289183630/photo/doctor-in-a-home-visit-to-a-senior-man.jpg?b=1&s=170667a&w=0&k=20&c=lKkrk0cr-02zxYVT6nh8RGOQWEoB2FYJzrE2xQ3WY2Y=" width="600px" />
        </div>
      </div>
      <div class="col-sm-6 offset-sm-2">
        <div class="about-item mt-5">
          <h1>
            <span style="color: red">COVID-19 induced anxiety and what to do about it</span>
           
          </h1>
          <p><h5>
            In the first year of the COVID-19 pandemic, global prevalence
            of anxiety and depression increased by a massive 25%, according
            to a scientific brief released by the World Health Organization
            (WHO) today. The brief also highlights
            who has been most affected and summarizes the effect of
            the pandemic on the availability of mental health services
            and how this has changed during the pandemic.

           </h5>
          </p>
        </div>
      </div>
    </div>


     
    </div>
  </div>
</section>
{% endblock body %}
